@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i|Playfair+Display:400,400i,700,700i");

body{font-family:'Open Sans',sans-serif!important}
.section{padding:48px 0}
.section:nth-of-type(even){background-color:#f8f8f8}
#header,#footer{background-color:#252525;color:white;padding:24px 0}
h1,.h1{font-family:'Playfair Display',Helvetica,Arial,sans-serif;font-weight:700;font-size:38pt;line-height:46pt;margin:0 0 32px}
h3,.h3{font-weight:300;font-size:24px;line-height:28px}
h4,.h4{font-weight:300;font-size:20px;line-height:24px}

#logo{max-height:32px}

.w-auto{width:auto!important}
@media (min-width: 576px) {
  .w-sm-auto{width:auto!important}
  .w-sm-25{width:25%!important}
  .w-sm-50{width:50%!important}
  .w-sm-75{width:75%!important}
  .w-sm-100{width:100%!important}
}
@media (min-width: 768px) {
  .w-md-auto{width:auto!important}
  .w-md-25{width:25%!important}
  .w-md-50{width:50%!important}
  .w-md-75{width:75%!important}
  .w-md-100{width:100%!important}
}
@media (min-width: 992px) {
  .w-lg-auto{width:auto!important}
  .w-lg-25{width:25%!important}
  .w-lg-50{width:50%!important}
  .w-lg-75{width:75%!important}
  .w-lg-100{width:100%!important}
}
@media (min-width: 1200px) {
  .w-xl-auto{width:auto!important}
  .w-xl-25{width:25%!important}
  .w-xl-50{width:50%!important}
  .w-xl-75{width:75%!important}
  .w-xl-100{width:100%!important}
}